<footer>
    <div class="container-fluid footer-container">
        <div class="footer-page">
            <div class="main">
                <div class="image">
                    <img src="assets/Images/2.jpg" alt="">
                </div>

   <!------------------------ Quick Link Start----------------------------->

                <div class="link">
                    <div class="quick-link">
                        <h4>Quick Links</h4>
                    </div>
                    <div class="footer-link">
                        <li class="nav-item">
                            <a  routerLink="/home" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a  routerLink="/about" routerLinkActive="active">About</a>
                        </li>
                        <li class="nav-item">
                            <a  routerLink="skills" routerLinkActive="active">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="projects" routerLinkActive="active" >Projects</a>
                        </li>
                        <li class="nav-item">
                            <a  routerLink="contact" routerLinkActive="active">Contact</a>
                        </li>
                    </div>
                </div>
    <!------------------------ Quick Link End----------------------------->

    <!------------------------ Social Link Start----------------------------->

                <div class="social-link">
                    <div class="connect-us">
                        <h4>Connect with me</h4>
                        <div class="social-media">
                            <div class="heading">
                              <p>Connect with me</p>
                            </div>
                            <div class="icons">
                              <a href="" class="icon-link">
                                <i class="fa-brands fa-square-instagram"></i>
                              </a>
                              <a href="" class="icon-link">
                                <i class="fa-brands fa-facebook"></i>
                              </a>
                              <a href="" class="icon-link" >
                                <i class="fa-brands fa-linkedin"></i>
                              </a>
                              <a href="" class="icon-link" >
                                <i class="fa-brands fa-github"></i>
                              </a>
                              <!-- <a href=""><img src="/assets/Images/leetcode.png" alt="LeetCode" class="leetcode"></a> -->
                            </div>
                        </div>
                    </div>
                </div>
        <!------------------------ Social Link End----------------------------->

            </div>
        </div>
    </div>
</footer>
