<div class="container-fluid">
    <div class="title">
        <p>About Me</p>
    </div>

    <!-- <<<----------About Us  --------------->


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img class="image" src="assets/Images/about.png" alt="No Image">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                
                <div class="name-title">
                    <h3>Hello!<i class="fa-solid fa-face-smile"></i> </h3>
                    <span><h2>I'm Anand Yadav</h2></span>
                </div>
                <div class="content-title">
                    <p>I have completed my bachelor from RITM college Lucknow, in Computer Science
                        Specification with 83% percent marks in 2023 batch. Currently I am working in IT next Solutions in Navi Mumbai as a Full stack Developer.
                        My major skills are - HTML, CSS, JavaScript, Bootstrap, Angular, React JS, Java, C++, Python, C-Sharp, ASP.Net Core, SQL, Node Js. 
                    </p>
                </div>    
            </div>
        </div>

    </div>

   


    <div class="container">
        <div class="row">

    <!-- <<<<---------EDUCATION SECTION START----------->

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="title-heading">
                    <h2>Education</h2>
                </div>
                <div class="content">
                    <div class="box">
                        <div class="coll-Name">
                            <h5><b>High School Degree</b></h5>
                        </div>
                        <div class="date">
                            <p>2015-2016</p>
                            <span><a href="assets/Images/10th.jpg" target="_blank">Certificate</a></span>
                        </div>
                       <ul>
                          <li>Pandit Madan Mohan Malviya Inter College Sikhari, Ghazipur(UP) </li>
                          <li><b>Percentage- 88.17% </b></li>
                       </ul>

                    </div>
                    <div class="box">
                        <div class="coll-Name">
                            <h5><b>Higher Secondary Degree</b></h5>
                        </div>
                        <div class="date">
                            <p>2017-2018</p>
                            <span><a href="assets/Images/12th.jpg" target="_blank">Certificate</a></span>
                        </div>    
                        <ul>
                            <li>Pandit Madan Mohan Malviya Inter College Sikhari, Ghazipur(UP) </li>
                            <li><b>Percentage- 77% </b></li>
                         </ul>

                    </div>
                    <div class="box">
                        <div class="coll-Name">
                            <h5><b>Bachelor's Degree</b></h5>
                        </div>
                        <div class="date">
                            <p>2019-2023</p>
                            <span><a href="assets/Images/aktu-result.pdf" target="_blank">Certificate</a></span>
                        </div>
                        <ul>
                            <li>Rameshwaram Institute of Technology and Management, Lucknow</li>
                            <li><b>Percentage- 83.13%</b></li>
                        </ul>
                        

                    </div>
                </div>
            </div>

            <!---------------------- EDUCATION SECTION END ---------------------->
        

            <!----------------------EXPERIENCE SECTION START ---------------------->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="title-heading">
                    <h2>Experience</h2>
                </div>
                <div class="content">
                    <div class="box">
                       <div class="position">
                             <b><h5><b>IT-Next-Solutions || <span>Navi Mumbai</span> || <span>Full Stack Developer</span></b></h5></b>
                       </div>
                       <div class="date">
                           <p>July/2023 - Present</p>
                           <a href="assets/Images/aktu-result.pdf" target="_blank">Joining letter</a>
                       </div>
                       <ul class="detail">
                        <li>Engineered and upheld the front-end of the web application utilizing Angular, HTML, CSS, and
                            JavaScript</li>
                        <li>Collaborated in the development of a cross-platform web application using ASP.NET Core for
                            backend services.</li>
                        <li>Managed the SQL Server database, including data modeling, schema design, and manipulate data</li>        
                       </ul>

                    </div>
                    <div class="box">
                        <div class="position">
                            <b><h5><b>Engineer Core || <span>IIIT Allahabad</span> || <span>Winter Training</span></b></h5></b>
                        </div>
                        <div class="date">
                            <p>Oct/2022 - Dec/2022</p>
                            <a href="assets/Images/Java.jpg" target="_blank">Certificate1 </a>
                            <a href="assets/Images/JavaScript.jpg" target="_blank">Certificate2 </a>
                        </div>
                       <ul class="detail">
                        <li> Completed Java Programming course and JavaScript language with Engineer Core Winter
                            Training in association with IIIT Effervescence Allahabad, achieving an in-depth understanding of
                            Java fundamentals and JavaScript.</li>
                        <li>Acquired hands-on experience in developing application with features such as multi-threading,
                            data structures, and exception handling.</li> 
                        <li>I have solved 150+ questions on Java programming during this course.</li> 
                            
                       </ul>
                    </div>
                    <!-- <div class="box">
                        <h5>2023-Currently</h5>
                        <h4>Software Developer at IT Next Solutions</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nesciunt, saepe.</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showfooter" class="footer">

   <app-footer></app-footer>

</div>
