
:root {
    --primary: #f7563e; /*#f7563e;*/
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}
.title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
    text-wrap: nowrap;
    background: #5de3df;
    /* animation: title 5s infinite linear; */
    /* text-shadow: 2px 3px black; */
    /* background-color: lightseagreen; */
}
.title::after {
    position: absolute;
    content: "";
    width: 230px;
    height: 5px;
    bottom: 0px;
    background: #e30606;
    -webkit-animation: title 5s infinite linear;
    animation: title 5s infinite linear;
}


.section-title::before {
    /* position: absolute; */
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: darkblue;
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #e30606;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}

@-webkit-keyframes title {
    0%{
        /* background-color: #34AD54; */
        content: "";
        width: 20px;
        height: 5px;
        background: #e30606;

    }
    100%{
        /* background-color: #e30606; */
        content: "";
        /* width: 20px; */
        height: 5px;
        background: #e30606;
    }
}
@keyframes title{
    0%{
        /* background-color: #34AD54; */
        content: "";
        width: 20px;
        height: 5px;
    }
    100%{
        background-color: #e30606;
        content: "";
        height: 5px;
    }
}


.card {
    /* height: 332px; */
    /* margin-top: 150px; */
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    height: auto;
    /* height: 400px; */
    background: #000;
 
}



.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card .image img {
    width: 100%;
    transition: .5s;
    /* filter: contrast(0.5); */
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #f7563e;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.card .details .center p {
    font-size: 13px;
    margin: 10px 0;
    padding: 0;
    color: #262626;
}
.card .details .center .card-button {
    font-size: 15px;
    margin: 10px 0px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card .details .center ul {
    font-size: 15px;
    margin: 10px 0px;
    padding: 0;
    display: grid;
    place-content: center;
    
}
.card .details .center ul li {
    list-style: none;
    margin: 0 2px;
    /* float: left; */
}
.card .details .center ul li a {
    display: block;
    background: #eb0606;
    color: #fff;
    /* width: 30px; */
    width:85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
    border-radius: 8px;
    text-decoration: none;
}
.card .details .center ul li a:hover {
    background: #36ffa1;
}
#h2{
    position: absolute;
    color: white;
    top: 136px;
    right: 30px;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 10px;
    padding: 10px 10px;
}
.btn{
    margin: 10px 10px;
}



.modal-title{
    color: #06cdf5;
    font-size: 35px;
}
.modal-body .demo-video{
    width: 470px;
    height: auto;
}
/* .details .center .card-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

@media (min-width:1000px) and (max-width:1200px){
    .row .col .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: auto;
        background: #000;
    }
    
}
@media (min-width:767.990px) and (max-width:1000px){
    .row .col .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 235px;
        height: auto;
        background: #000;
    }
    
}


/* @media (min-width:767.99px) and (max-width:850px){
    .row .col .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 200px;
        height: auto;
        background: #000;
    }
    
} */


@media (max-width: 767px) {

    .row .col .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 240px;
        height: auto;
        background: #000;
    }

    .modal-dialog {
      max-width: 90%;
      margin: 1rem auto; 
    }
    
    .modal-content {
      width: 100%; 
    }
    
    .demo-video {
      max-width: 100%;
      height: auto; 
    }
    .modal-title{
        font-size: 25px;
    }

    .wow .row{
        margin-top: 0px !important;
    }

    .card .details{
        width: 85%;
    }
    .card .details .center{
        padding: 6px;
    }

    .card .details .center h1 {
        margin: 0;
        padding: 0;
        color: #ff3636;
        line-height: 20px;
        font-size: 12px;
        text-transform: uppercase;
    }
    .card .details .center h1 span {
        font-size: 10px;
        color: #262626;
    }
    .card .details .center p {
        font-size: 10px;
        margin: 10px 0;
        padding: 0;
        color: #262626;
    }
    .card .details .center .card-button {
        font-size: 12px;
        margin: 10px 0px;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card .details .center ul {
        font-size: 12px;
        margin: 10px 0px;
        padding: 0;
        display: grid;
        place-content: center;
        
    }
    

}