<section class="project-section">
    <div class="title">
        <p>MY PROJECTS</p>
    </div>

    <div class="container-fluid py-2 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5" style="margin-top: -47px;">
            <!-- cards starts -->
            <div class="allcard">
                <!-- first col -->
                <div class="row g-5">
                    <div class="col-sm-12 col-lg-4 col-md-4 wow zoomIn live-project" data-wow-delay="0.6s">
                        <div class="row" style="margin-top: 49px;">
                            <div class="col">
                                <div class="card" >
                                    <div class="image">
                                        <img src="assets/Images/kisan.jpg" 
                                        >
                                        <!-- <h2 id="h2">Web Development</h2> -->
                                    </div>
                                    <div class="details">
                                        <div class="center">
                                            <h1>Live Project</h1>
                                            <p>KisanKonnect is a web and mobile hyperlocal grocery order app to order daily needs products from farms ...</p>
                                            <ul>
                                                <li><a href="https://www.kisankonnect.in/" target="_blank">Know More</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="col-sm-12 col-lg-4 col-md-4 wow zoomIn live-project" data-wow-delay="0.9s">
                        <div class="row" style="margin-top: 49px;">
                            <div class="col">
                                <div class="card">
                                    <div class="image">
                                        <img src="assets/Images/shopify.jpg"
                                       >
                                        <!-- <h2 id="h2">Mobile App Development</h2> -->
                                    </div>
                                    <div class="details">
                                        <div class="center">
                                            <h1>Live Project</h1>
                                            <p>DRIP PROJECT is an Indian-based brand that draws inspiration from multiple cultures. With our motto,
                                                Luxury made affordable...</p>
                                            <ul>
                                                <li><a href="https://dripproject.co/" target="_blank">Know More</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class=" col-sm-12 col-lg-4 col-md-4 wow zoomIn" data-wow-delay="0.3s">
                        <div class="row" style="margin-top: 49px;">
                            <div class="col">
                                <div class="card" >
                                    <div class="image">
                                        <img src="assets/Images/news.jpg"
                                        >
                                        <!-- <h2 id="h2">Software Development</h2> -->
                                    </div>
                                    <div class="details">
                                        <div class="center">
                                            <h1>News-Hub</h1>
                                            <p>Discover a world of news at your fingertips with our all-in-one Android news hub.</p>
                                            <ul class="card-button">
                                                <li>
                                                    <a href="softwaredevlopment.html" target="_blank">Know More</a>
                                                </li>
                                                <li>
                                                    <a (click)="OpenModalDemo('News')" data-bs-toggle="modal" data-bs-target="#exampleModal">Demo</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
           
            <!----------------- Second Column  --------------------------->
            <!----------------- Second Column  --------------------------->

                <div class="row g-5" style="margin-top: -7px">
                    <div class="col-sm-12 col-lg-4 col-md-4 wow zoomIn" data-wow-delay="0.6s">
                        <div class="row" style="margin-top: 49px;">
                            <div class="col">
                                <div class="card" >
                                    <div class="image">
                                        <img src="assets/Images/post-maker.jpg"
                                           >
                                        <!-- <h2 id="h2">UI/UX Development</h2> -->
                                    </div>
                                    <div class="details">
                                        <div class="center">
                                            <h1>Automatic Post Maker</h1>
                                            <p>Automatic Post Maker– the future of effortless content creation and social media management.</p>
                                            <ul class="card-button" >
                                                <li><a href="https://github.com/anandyadavedu/Automatic-Post-Maker" target="_blank" >Know More</a></li>
                                                <li>
                                                    <a href="https://github.com/anandyadavedu/Automatic-Post-Maker" (click)="OpenModalDemo('Post-Maker')" data-bs-toggle="modal" data-bs-target="#exampleModal">Demo</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-md-4 wow zoomIn" data-wow-delay="0.9s">
                        <div class="row" style="margin-top: 49px;">
                            <div class="col">
                                <div class="card">
                                    <div class="image">
                                        <img src="assets/Images/Hospital.jpg"
                                           >
                                        <!-- <h2 id="h2">Computer AMC</h2> -->
                                    </div>
                                    <div class="details">
                                        <div class="center">
                                            <h1>TrackingProject Pro</h1>
                                            <p>This is a full stack project in which used Angular as front-end, ASP.Net core as back-end and SQL database.</p>
                                            <ul class="card-button">
                                                <li>
                                                    <a href="computeramc.html">Know More</a>
                                                </li>
                                                <li>
                                                    <a href="softwaredevlopment.html" data-bs-toggle="modal" data-bs-target="#exampleModal">Demo</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-md-4 wow zoomIn" data-wow-delay="0.3s">
                        <div class="row" style="margin-top: 49px;">
                            <div class="col">
                                <div class="card" >
                                    <div class="image">
                                        <img src="assets/Images/HMS.jpg" >
                                        <!-- <h2 id="h2">IT Training</h2> -->
                                    </div>
                                    <div class="details">
                                        <div class="center">
                                            <h1>HealthHub-Pro</h1>
                                            <p>This is a full stack project in which a doctor can add staff and patient details.
                                                Staff can also manage the patient record and many more...
                                            </p>
                                            <ul class="card-button">
                                                <li>
                                                    <a href="IT Training.html">Know More</a>
                                                </li>
                                                <li>
                                                    <a (click)="OpenModalDemo('HealthHub-Pro')" data-bs-toggle="modal" data-bs-target="#exampleModal">Demo</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>        
</section> 

<!-- -------------------- Modal for demo project Start -------------------------->
<!-- -------------------- Modal for demo project Start -------------------------->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Project Demo Video</h5>
         
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div *ngIf="videoVisible === 'News'">
            <video #videoPlayer controls class="demo-video" >
              <source [src]="videoSources['News']" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <div *ngIf="videoVisible === 'Post-Maker'">
            <video #videoPlayer controls class="demo-video" >
              <source [src]="videoSources['Post-Maker']" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <div *ngIf="videoVisible === 'HealthHub-Pro'">
            <video #videoPlayer controls class="demo-video" >
              <source [src]="videoSources['HealthHub-Pro']" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>